@model IEnumerable<Rentalbase.Models.Lease>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Property.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RateMonthly)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Property.Street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RateMonthly)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LeaseID }) |
            @Html.ActionLink("Details", "Details", new { id=item.LeaseID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LeaseID })
        </td>
    </tr>
}

</table>
